html.dark {
  --background-color: #292e39;

  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(99%) sepia(7%)
    saturate(302%) hue-rotate(235deg) brightness(120%) contrast(100%);

  //Header
  --background-header: #171c28;
  --background-top-header__group: #292e39;
  --shadow-top-header__group: rgba(0, 0, 0, 0.2);

  // Dropdown
  --bg-dropdown: #292e39;
  --color-dropdown: #b9babe;
  --shadow-dropdown: rgba(23, 28, 40, 0.4);
  --hover-text-color: #0071dc;

  // Product mini
  --bg-product: #171c28;
  --bg-thumb: #292e39;

  //Product large
  --bg-product-large: #171c28;
  --shadow-product-large: rgba(0, 0, 0, 0.2);
  --shadow-icon-product-large: 0px 20px 60px rgba(124, 124, 124, 0.2);

  // Filter buttons
  --filter-btn-bg: #171c28;
  --filter-text-color: #fff;

  // Filter
  --filter-bg: #292e39;
  --filter-box-shadow: rgba(0, 0, 0, 0.4);

  // Form
  --form-group-border: #d2d1d6;
  --form-input-placeholder: #9e9da8;
  --form-text-color: #9e9da8;
}
