html {
  --background-color: #f6f6f6;

  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(15%)
    saturate(3107%) hue-rotate(215deg) brightness(96%) contrast(95%);
}
