.navbar {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    padding: 5px 15px;

    &:hover .dropdown-menu__container {
      visibility: visible;
      opacity: 1;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
