@use "../abstracts";

.navbar {
  @include abstracts.screen(xl) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
    @include abstracts.screen(xl) {
      flex-direction: column;
      align-items: start;
    }
  }
  &__item {
    padding: 5px 15px;

    &:hover .dropdown-menu__container {
      visibility: visible;
      opacity: 1;

      @include abstracts.screen(xl) {
        display: flex;
      }
    }
    @include abstracts.screen(xl) {
      width: 100%;
      padding: 10px 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    @include abstracts.screen(xl) {
      justify-content: space-between;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
    }
  }
}
